<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jan Balangue | Home</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>
<body>
<div class="container">
    <header class="clear">
        <h1>Jan Balangue</h1>
        <nav>
            <a>About</a> |
            <a href="portfolio.html">Portfolio</a> |
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <article id="bio">
        <h2>About Me</h2>
        <br><hr><br>
        <img id="bio-image" src="assets/images/selfie2018.png" width="200px" height="auto" alt="Jan Balangue">
        <p>A customer service worker by necessity, I am a graduate of Penn State University with a Master's Degree in Software Engineering. Currently I attend the Coding Boot Camp at UCSD Extension with aspirations of becoming a web developer.</p><p>In my spare time I have competed in the USAPL as a Masters 1 powerlifter and twice won second place in the California State Games: as a 74kg lifter in 2015, and as an 83kg lifter in 2016. I have a passion for many musical genres and also dabbled in amateur music creation when I was younger.</p>
    </article>
    <aside>
        <h3>Connect With Me</h3><br>
        <hr>
        <br>
        <a href="https://github.com/computeruser88" target="_blank"><img src="assets/images/github.png" class="social-media-link" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/jan-balangue-8b544b76" target="_blank"><img src="assets/images/linkedin.png" class="social-media-link" alt="LinkedIn"></a>
        <a href="https://stackoverflow.com/users/8139702/jan-balangue" target="_blank"><img src="assets/images/stackoverflow.png" class="social-media-link2" alt="StackOverflow"></a>
    </aside>
    <footer class="clear">&#xa9; Copyright 2018 Jan Balangue</footer>
</div>
</body>
</html>