.selfie {
    transition-duration: 0.4s;
}
.selfie:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 50px #ffffff;
}
.project-column {
    transition-duration: 0.4s;
}
.project-column:hover {
    transform: scale(1.01);
}

.footer-image {
    height: 64px;
    width: 64px;
    transition-duration: 0.4s;
}
.footer-image-2 {
    height: 57px;
    width: 57px;
    position: relative;
    bottom: 3px;
    left: 3px;  
    transition-duration: 0.4s;
}

.footer-image:hover, 
.footer-image-2:hover {
    transform: scale(1.1);
}
#main-link,
#portfolio-link,
#portfolio-link-2 {
    transition-duration: 0.4s;
}
#main-link:hover,
#portfolio-link:hover,
#portfolio-link-2:hover {
    transform: scale(1.1);
}
