*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    background-image: url("../images/dust_scratches.png");
}
div {
    display: inline;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    flex-wrap: nowrap;
    display: inline;
    margin: 0;
    height: 75px;
    top: 0;
    z-index: 5;
    background: #ffffff;
    border-bottom: 1px #dddddd solid;
}
.navbar-brand {
    position: fixed;
    left: 11%;
    top: 0;
    height: 75px;
    line-height: 300%;
    padding: 0 50px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    background: #4aaaa5;
}
.navbar-light:hover .navbar-brand:hover {
    color: #ffffff;
}
.navbar-light:focus .navbar-brand:focus {
    color: #ffffff;
}
.navbar-light:active .navbar-brand:active {
    color: #ffffff;
}
.navbar-light:link .navbar-brand:link {
    color: #ffffff;
}
.navbar-light:root .navbar-brand:root {
    color: #ffffff;
}
.navbar-light:visited .navbar-brand:visited {
    color: #ffffff;
}
div .navbar-nav  {
    display: block;
    float: right;
    right: 50px;
    margin-right: 8%;
    font-size: 14px;
    line-height: 400%;
    color: #aaaaaa;
    transition-duration: 0.4s;
}
.nav-link {
    display: inline;
    padding: 0;
    margin: 0 10px;
}
.nav-item .nav-link  {
    display: inline;
    font-size: 14px;
    line-height: 500%;
    text-decoration: none;
    color: #aaaaaa;
    transition-duration: 0.4s;
}
.nav-item:hover .nav-link:hover {
    color: #000000;
}
.row {
    position: relative;
    max-width: 3840px;
    margin: 10%;
    padding: 0;
}
.card {
    border: none;
    margin: 0;
    padding: 0;
    min-width: 300px;
}
.card .card-block {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 5%;
    border: 1px #dddddd solid;
}
.card .card-block .card-title {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 22px;
    color: #4aaaa5;
    line-height: 250%;
    margin: 0 0 0 10%;
    padding: 0;
}
hr {
    width: 100%;
    padding: 0;
    margin: 0;
}
.card .card-block .card-text {
    width: 90%;
    padding: 10px 0 0 10%;
    color: #777777;
    text-align: justify;
}
figure {
    padding: 0;
    margin: 5% 0 0 7%;
    transition-duration: 0.4s;
}
figure img {
    position: relative;
    margin: 20px;
    top: 0; 
    width: 300px;
    min-height: 200px;
    z-index: 1;
}
.figure-caption {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    color: #ffffff;
    position: relative;
    bottom: 100px;
    height: 50px; 
    width: 300px;
    text-align: center;
    margin: 20px;
    line-height: 300%;
    left: 0;
    right: 0;
    z-index: 2;
}
figure:hover {
    opacity: 0.7;
    transform: scale(1.01);
}
.social-media-link {
    position: relative;
    left: 30px;
    top: 10px;
    max-height: 50px;
    width: 50px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link2 {
    position: relative;
    top: 10px;
    left: 30px;
    max-height: 45px;
    max-width: 45px;
    width: 50px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link:hover {
    opacity: .5;
    transform: scale(1.1);
}
.social-media-link2:hover {
    opacity: .5;
    transform: scale(1.1);
}
#bio-image {
    float: left;
    margin-top: 15px;
    margin-left: 10%;
    padding-right: 20px;
}
.form-control {
    padding: 0;
    margin: 0 20px 0 40px;
    width: 90%;
}
.form-group {
    margin: 0;
    padding: 0;
}
label {
    color: #777777;
    padding: 0 0 0 40px;
    margin-top: 5px;
    margin-bottom: 0;
}
input[type="text"] {
    margin: 0 20px 0 40px;
    line-height: 1em;
    }
.btn {
    transition: transform 0.4s;
}
.btn-primary {
    background: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 1% 4%;
    margin: 5% 10%;
    transition-duration: 0.4s;
}
.btn-primary:hover {
    border: none;
    color: #ffffff;
    background: #4aaaa5;
    opacity: .8;
    transform: scale(1.1);
}
.footer-copyright {
    position: fixed;
    bottom: 0;    
    left: 0;
    width: 100%;
    border-top: 5px #4aaaa5 solid;
    height: 60px;
    line-height: 500%;;
    background: #777777;
    font-size: 12px;
    text-align: center;
    z-index: 5;
  }

  @media all and (max-width: 768px) {
    body {
        text-align: center; 
    }
    .navbar {
        position: fixed;
        margin: 0;
        width: 100%;
        left: 0;
        right: 0;
        line-height: 150px;
        top: 75px;
        z-index: 5;
        background: #ffffff;
        border-bottom: 1px #dddddd solid;
    }
    .navbar-brand {
        position: fixed;
        height: 75px;
        line-height: 300%;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
    div .navbar-nav  {
        margin: 0;
        padding: 0;
        float: none;
    } 
    img {
        padding: 0;
    }  
    .nav-item {
        margin: 0 10%;
    }
    .col-md-12 {
        width: 100%;
    }
    .card {
        margin-top: 30%;
    }
    .card .card-block .card-title {
        line-height: 250%;
        margin: 0;
        padding: 0;
    }
    .form-control {
        padding: 0;
        margin: 0 40px 0 20px;
        width: 90%;
    }
    label {
        color: #777777;
        padding: 0 20px 0 20px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    input[type="text"] {
        margin: 0 40px 0 20px;
        line-height: 1em;
        }
    .social-media-link {
        position: relative;
        left: 0px;
        max-height: 50px;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    .social-media-link2 {
        position: relative;
        max-height: 45px;
        max-width: 45px;
        left: 0px;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    figure {
        padding: 0;
        margin: 5% 0 0 0;
        transition-duration: 0.4s;
    }
}
@media all and (max-width: 640px) {
    .card .card-block .card-text {
        text-align: left;
    }
    #bio-image {
    float: left;
    width: 140px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-right: 20px;
    }
    figure {
        padding: 0;
        margin: 5% 0 0 7%;
        transition-duration: 0.4s;
    }
    figure img {
        position: relative;
        margin-left: 0px;
        top: 0; 
        width: 250px;
        min-height: 200px;
        z-index: 1;
    }
    .figure-caption {
        position: relative;
        bottom: 75px;
        height: 50px; 
        width: 250px;
        text-align: center;
        margin: 0px;
        line-height: 300%;
        left: 0;
        right: 0;
        z-index: 2;
    }
}